#app {
  position: relative;
}
.content {
  padding: 10px;
}
.sidebar {
  width: 300px;
  z-index: 100;
  padding: 10px;
  height: 100vh;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
